Repository processone/tsung, pull requests merged in 2018-08, with the labels that each got.

#325 Handle ts_server_websocket_ssl:close/1 when socket is none
  src/tsung/ts_server_websocket.erl
  src/tsung/ts_server_websocket_ssl.erl
Labels: kind/bug

#326 Add PURGE for Varnish support
  docs/features.rst
  include/ts_http.hrl
  src/tsung/ts_http.erl
  tsung-1.0.dtd
Labels: kind/enhancement, protocol/http

#327 mqtt subscribe packet MUST set qos to 1 for the fixed header
  src/test/ts_test_mqtt.erl
  src/tsung/ts_mqtt.erl
Labels: kind/bug, protocol/mqtt

#330 Fix docs to substitute for-loop counter variable
  docs/conf-advanced-features.rst
Labels: documentation
